:root {
  --clr-accent-400: #8a8a8a;
  --clr-accent-500: #767676;

  --clr-primary-400: #484848;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;

  --clr-danger: #ff4646;

  --clr-background-400: #fafafa;
  --clr-background-500: #f8f8f8;
  --clr-background-600: #e0e0e0;
  --clr-background-700: #dadada;

  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Volkhov', sans-serif;
  --ff-digital: 'Digital Numbers', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;

  --fs-300: 12px;
  --fs-400: 16px;
  --fs-500: 20px;
  --fs-550: 22px;
  --fs-600: 24px;
  --fs-700: 28px;
  --fs-800: 32px;
  --fs-900: 46px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-accent-500 {
  color: var(--clr-accent-500);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-danger {
  color: var(--clr-danger);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fs-headings {
  font-size: var(--fs-900);
}

.fs-sub-headings {
  font-size: var(--fs-500);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-550 {
  font-size: var(--fs-550);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.ff-heading {
  font-family: var(--ff-secondary);
}

.ff-digital {
  font-family: var(--ff-digital);
}

.bg-400 {
  background-color: var(--clr-background-400);
}

.bg-500 {
  background-color: var(--clr-background-500);
}

.bg-600 {
  background-color: var(--clr-background-600);
}

.bg-700 {
  background-color: var(--clr-background-700);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.container {
  --max-width: 1281px;
  --padding: 16px;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.col-3 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}

.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.col-44 {
  flex: 0 0 44.44%;
  max-width: 44.44%;
}

.col-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.w-text {
  width: 615px;
  margin-inline: auto;
}

@media (max-width: 800px) {
  .col-3 {
    max-width: 100%;
  }

  .col-2 {
    max-width: 100%;
  }

  .col-4 {
    max-width: 100%;
  }
}

/* General styling */

body {
  color: var(--clr-primary-400);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
}

section {
  padding: 100px 0;
}

/* button */

.button {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
  color: #fff;
  line-height: 16px;
  padding: 15px 45px;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
}

.button-light {
  cursor: pointer;
  background-color: var(--clr-background-400);
  color: var(--clr-accent-400);
  line-height: 16px;
  padding: 15px 45px;
  border-radius: 10px;
  border: 0;
  /* box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15); */
}

.slider-btn {
  cursor: pointer;
  padding: 10px;
  background-color: var(--clr-neutral-100);
  border-radius: 100%;
  box-shadow: -2px 2px rgba(0, 0, 0, 0.15);
  border: 0;
}

/* navigation */

header {
  margin-top: 40px;
}

nav {
  margin-bottom: 40px;
}

.brand {
  font-size: 52px;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: 60px;
}

@media (max-width: 800px) {
  .primary-nav {
    display: none;

    position: fixed;
    inset: 7rem 20px auto;
    padding: 20px;
    background: var(--clr-background-400);
  }

  .primary-nav[data-visible] {
    display: block;
  }

  .nav-list {
    display: grid;
    gap: 20px;
    text-align: center;
  }

  .nav-list li a {
    color: var(--clr-primary-400);
    font-weight: var(--fw-semi-bold);
  }

  .nav-list li .button {
    color: var(--clr-neutral-100);
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

/* hero */

.hero-item {
  width: 100%;
  height: 640px;
  padding: 0 30px;
  overflow-x: hidden;
}

.hero-item::-webkit-scrollbar {
  display: none;
}

.hero-item .side-img {
  padding-top: 120px;
}

.header-text h2 {
  font-size: 85px;
  letter-spacing: -3.64px;
  line-height: 100%;
}

.header-text h1 {
  font-size: 175px;
  letter-spacing: -10.285px;
  line-height: 100%;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px var(--clr-primary-400);
}

.header-text h3 {
  margin-bottom: 20px;
}

.bottom-img {
  margin-top: 35px;
}

@media (max-width: 800px) {
  .hero {
    display: block;
  }

  .hero-item {
    padding: 0;
    margin-bottom: 30px;
  }
}

/* logo */
.logo-items {
  margin-bottom: 20px;
}

/* deal */
.deal {
  background: linear-gradient(180deg, #fff 0%, #fafafa 100%);
}

.deal-box {
  flex-wrap: nowrap;
}

.deal-box .time-countdown {
  width: 450px;
}

.timer {
  margin-top: 50px;
}

.time-counter {
  margin-top: 15px;
}

.time-counter {
  gap: 30px;
}

.time-counter .time-counter-item .box {
  width: 76px;
  height: 76px;
  border-radius: 10px;
  background-color: var(--clr-neutral-100);
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}

/* new arrival */

.new-arrival {
  background: linear-gradient(180deg, #fff 0%, #fafafa 100%);
}

.category-list {
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 65px;
}

.category-list .button-light:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
  color: #fff;
  line-height: 16px;
  padding: 15px 45px;
  border-radius: 10px;
}

.category-list .button-light.active {
  cursor: pointer;
  background-color: var(--clr-neutral-900);
  color: #fff;
  line-height: 16px;
  padding: 15px 45px;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
}

.card {
  width: 100%;
  background: var(--clr-neutral-100);
  box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.06);
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card .card-main-img {
  width: 100%;
}

.card .card-top-text {
  margin-top: 10px;
}

.card .reviews {
  padding: 25px 0;
}

.new-arrival button {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .products {
    display: block;
  }
}

/* peaky bliders */
.peaky-blinders {
  padding: 0;
}

.peaky-bliders-wrapper {
  height: 570px;
  flex-direction: row-reverse;
}

.peaky-blinders .image-box {
  background: url(../images/peaky_blinders.png),
    #f8f8f8 0px -42.956px / 100% 126.659% no-repeat;
  position: relative;
  margin-right: -40px;
}

.peaky-blinders .text-box {
  padding: 60px;
  padding-left: 230px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-left: 39px;
}

.peaky-blinders .text-box::before {
  content: '';
  position: absolute;
  left: -20%;
  top: 40%;
  transform: translateY(-40%) rotate(18.143deg);
  background: #f8f8f8;
  width: 35%;
  height: 140%;
  border: 2px solid var(--clr-neutral-900);
}

.peaky-blinders .text-box span,
.peaky-blinders .text-box h2,
.peaky-blinders .text-box p,
.peaky-blinders .text-box h4 {
  margin: 20px 0;
}

.peaky-blinders .text-box a {
  margin-bottom: 60px;
}

.peaky-blinders .image-box .pointer-small,
.peaky-blinders .image-box .pointer-long {
  position: absolute;
}

.peaky-blinders .image-box .pointer-small:first-child {
  top: 10px;
  left: 42%;
}

.peaky-blinders .image-box .pointer-small:nth-child(2) {
  top: 35%;
  left: 38%;
}

.peaky-blinders .image-box .pointer-small:nth-child(3) {
  bottom: 5%;
  left: 40%;
}

.peaky-blinders .image-box .pointer-long {
  left: 0;
  top: 30%;
}

.peaky-blinders .image-box .pointer-small .pointer-text-box,
.peaky-blinders .image-box .pointer-long .pointer-text-box {
  padding: 5px 10px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.41);
  backdrop-filter: blur(6px);
}

.peaky-blinders .image-box .pointer-small .pointer-text-box {
  float: right;
  margin-left: 105px;
}

.peaky-blinders .image-box .pointer-long .pointer-text-box {
  float: left;
}

.peaky-blinders .image-box .pointer-long img {
  margin-left: 105px;
}

@media (max-width: 800px) {
  .peaky-bliders-wrapper {
    display: block;
    height: auto;
  }

  .peaky-blinders .image-box,
  .peaky-blinders .text-box {
    width: 100%;
  }

  .peaky-blinders .text-box {
    margin-left: 0;
    padding-left: 10px;
  }

  .peaky-blinders .text-box::before {
    position: static;
    border: none;
  }
}

/* feature section */

.feature {
  gap: 20px;
}

/* gallery */

.gallery {
  margin-top: 100px;
  flex-wrap: nowrap;
}

.gallery img {
  width: 256px;
}

@media (max-width: 800px) {
  .gallery {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    width: 100%;
  }
}

/* news-letter */

.sub-email {
  height: 60px;
  width: 630px;
  margin: 30px 0;
  border: 0;
  outline: none;
  padding: 0 20px;
  box-shadow: 0px 3.01852px 3.14815px 0px rgba(0, 0, 0, 0.01),
    0px 13.28148px 6.51852px 0px rgba(0, 0, 0, 0.02),
    0px 32.6px 13px 0px rgba(0, 0, 0, 0.02),
    0px 62.78519px 25.48148px 0px rgba(0, 0, 0, 0.02),
    0px 105.64815px 46.85185px 0px rgba(0, 0, 0, 0.03),
    0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}

@media (max-width: 800px) {
  .newsletter-wrapper {
    display: block;
  }
}

/* footer */

footer {
  padding: 30px 0;
  border-top: 1px solid var(--clr-background-700);
}

.primary-footer {
  margin-bottom: 30px;
}

.primary-footer .footer-list {
  gap: 30px;
}

@media (max-width: 800px) {
  .primary-footer {
    display: block;
    text-align: center;
  }

  .footer-list {
    justify-content: center;
    margin-top: 20px;
  }
}

/* testmonial */
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 70px;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: var(--clr-neutral-100);
  width: 864px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
/* .carousel__item:nth-child(1) {
  background: linear-gradient(45deg, #2d35eb 0%, #904ed4 100%);
}
.carousel__item:nth-child(2) {
  background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%);
}
.carousel__item:nth-child(3) {
  background: linear-gradient(45deg, #2d35eb 0%, #22c1c3 100%);
}
.carousel__item:nth-child(4) {
  background: linear-gradient(45deg, #fdbb2d 0%, #904ed4 100%);
}
.carousel__item:nth-child(5) {
  background: linear-gradient(45deg, #22c1c3 0%, #904ed4 100%);
} */
.carousel__item[data-pos='0'] {
  z-index: 5;
}
.carousel__item[data-pos='-1'],
.carousel__item[data-pos='1'] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos='-1'] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos='1'] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos='-2'],
.carousel__item[data-pos='2'] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos='-2'] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos='2'] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.carousel_img {
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.6);
}

.carousel__item-text-box p {
  width: 400px;
}

.carousel__item-text-box .des {
  margin-bottom: 30px;
}

.carousel__item-text-box img {
  margin-bottom: 30px;
}

.carousel__item-text-box hr,
.carousel__item-text-box h3 {
  margin-bottom: 15px;
}
